* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
}

table {
	width:  1000px;
	margin: 30px auto;
}

table th {
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}

table td {
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #fff;
    border:  thin solid #d4d4d4;
    padding: 10px;
    
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
